@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Regular.ttf');	
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Bold.ttf');
	font-weight: 700;	
}

@font-face {
	font-family: 'LeagueSpartan';
	src: url('../fonts/LeagueSpartan-Bold.otf');
	font-weight: bold;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.ttf');
	font-weight: 300;
}