@import "normalize.css";
@import "variables";
@import "fonts";

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	overflow-x: hidden;
}

.flexbox {
	display: flex;
}

.wrapped {
	width: 80%;
	margin: auto;
}

.link-button, .accent {
	display: inline-block;
	font-family: "LeagueSpartan", serif;
	color: $main-color;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.5em;
	text-decoration: none;
	padding: 10px 0;
}

.accent {
	color: $accent-color;
}

.link-button::after {
	content: "";
	display: block;
	opacity: 0;
	height: 2px;
	width: 95%;
	position: relative;
	left: -100%;
	top: 10px;
	background-color: $accent-color;
	transition: left 0.6s, opacity 0.5s;
}

.link-button:hover::after {
	left: 0;
	opacity: 1;
}

.regular-text {
	color: $grey-color;
	font-size: 14px;
	font-family: "Poppins";
	line-height: 1.6;
}

.vertical-text {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	writing-mode: vertical-lr;
	color: #cececf;
	font-family: "LeagueSpartan";
	letter-spacing: 0.5em;
	font-size: 11px;
	text-transform: uppercase;
}


.navigation {
	text-transform: uppercase;
	a {
		margin-right: 3em;
		text-decoration: none;
		color: $main-color;
		font-family: "LeagueSpartan";
		font-size: 11px;
		letter-spacing: 0.5em;
	}
}



.header {
	position: relative;
	margin: 0 5% 0 10%;
	justify-content: space-between;
}

.header-box {
	flex-grow: 1;
}

.header-top {
	position: relative;
	padding: 20px 0 30px;
	align-items: center;
	.logo {
		margin-right: calc(20% - 20px);
	}
}

.header-bot {
	position: relative;
}

.header-info {
	position: absolute;
	top: 30%;
	h2 {
		margin: 15px 0;
		font-size: 60px;
		font-family: "PlayfairDisplay";
		color: #0b0c11;
	}
	.regular-text {

	}
}

.slider {
	align-items: flex-end;
}

.slider-controls {
	width: 20%;
	align-items: center;
}

.slider-arrow {
		cursor: pointer;
}

.slide-count {
	font-family: "LeagueSpartan";
	font-size: 11px;
	color: #bbbbbb;
	margin: 0 10px;
}

.slider-image {
	width: 80%;
	img {
		width: 100%;
		box-shadow: -30px 30px 20px #dddddd;
		display: none;
	}
	.active {
		display: block;
	}
}

.header-column {
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 5%;
	padding-top: 30px;
	.social-links {
		flex-direction: column;
		margin-left: 15px;
		a {
			margin-top: 15px;
		}
	}
}





.quote {
	color: #474747;
	text-align: center;
	padding: 150px 0px 30px;
	p {
		width: 35%;
		margin: 20px auto;
	}
}

.quote-text {
	font-family: "PlayfairDisplay";
	font-size: 24px;
}

.quote-author {
	font-family: "LeagueSpartan";
	font-size: 11px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}




.main {

}

.main-heading {
	color: #333;
	font-family: "PlayfairDisplay";
	font-weight: 700;
	font-size: 34px;
}

.main::before, .main::after {
	content: "";
	display: block;
	width: 3px;
	height: 100px;
	margin: auto;
	background-color: $accent-color;
}

.media-content {	
	margin-top: 50px;
	position: relative;
	.bot-image {
		width: 50%;
	}
	.top-image {
		width: 58%;
		position: absolute;
		right: 0;
		top: 10%;
	}
	.media-info {
		box-sizing: border-box;
		width: 40%;
		padding: 50px 45px 50px 100px;
	}

	.link-button {
		display: inline-block;
		margin-top: 30px;
	}
}



.shop {
	padding: 150px 20px;
	text-align: center;
	background-image: url("../images/bg1.png");
	background-size: cover;
	background-position: 0 -200px;
	.link-button {
		margin-top: 80px;
		display: inline-block;
	}
}

.items {
	justify-content: center;
}

.board {
	align-items: center;
}

.board-info {
	position: relative;
	left: -30px;
	top: 70px;
	text-align: left;
	.regular-text {
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	h4 {
		color: $main-color;
		font-family: "PlayfairDisplay";
		font-weight: 400;
		font-size: 26px;
		margin-bottom: 35px;
	}
	.board-price, .link-button {
		margin-left: 50px;
	}
	.link-button {
		display: inline-block;
		margin-top: 0;
	}
}

.board-price {
	font-family: "Poppins";
	color: #ce60a8;
	font-size: 22px;
}



.training {
	margin: 0 5% 0 10%;
}

.training, .break {
	.main-heading::first-letter {
		border-bottom: 2px solid $accent-color;
		padding-bottom: 10px;
	}
}

.training-box {
	justify-content: flex-start;
}

.training-info, .break-info {
	flex-direction: column;
	width: 30%;
	position: relative;
	padding: 30px 20px 0 70px;
	.main-heading {
		margin-top: 55px;
		padding-bottom: 10px;
	}
	.regular-text {
		margin: 25px 0 40px;
	}
}

.number-header {
	position: absolute;
	z-index: -1;
	font-family: "LeagueSpartan";
	font-size: 100px;
	color: #f9f9f9;
}

.training-image, .break-image {
	z-index: 1;
	img {
		width: 100%;
	}
}

.training-column {
	width: 7.5%;
	padding-left: 20px;
}



.break {
	width: 60%;
	margin: auto;
	padding: 100px 0;
}

.break-info {
	width: 40%;
}

.break-column {
	padding-right: 20px;
}


.join {
	padding: 50px 5%;
	text-align: center;
	flex-direction: column;
	align-items: center;
	.regular-text {
		margin: 20px 0 30px;
	}
	input[type="email"] {
		width: 400px;
		padding: 15px 25px;
		border: 1px solid #efefef;
		outline: none;
		font-size: 12px;
		letter-spacing: 0.3em;
		font-family: "LeagueSpartan";
		color: $main-color;
		background-color: #f5f5f5;
	}
	input[type="submit"] {
		width: 50px;
		border: 0;
		background-image: url("../images/submit.png");
		background-position: center center;
		cursor: pointer;
	}
}

::-webkit-input-placeholder { /* Edge */
  color: #464646;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #464646;
}

::placeholder {
  color: #464646;
}



.camp {
	padding-top: 100px;
}

.camp-image {
	width: 50%;
	z-index: 1;
	img {
		width: 100%;
	}
}

.camp-info {
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	.vertical-text {
		transform: rotate(0deg);
		writing-mode: horizontal-tb;
	}
	.main-heading	{
		padding-left: 50px;
		margin: 50px 0;
		span {
			font-family: "Times New Roman", serif;
		}
	}
	.link-button {
		align-self: flex-start;
	}
}




.footer {
	flex-direction: column;
	align-items: center;
	padding: 100px 20px;
	.navigation {
		margin: 30px 0;
		a {
			margin: 0 3em;
		}
	}
	.social-links {
		a {
			margin: 0 15px;
		}
	}
}

@import "media";